/* stylelint-disable max-line-length */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Source+Serif+4:wght@400;600&display=swap');

/* fallback fonts */
@font-face {
  font-family: playfair-display-fallback;
  size-adjust: 112%;
  src: local('Georgia');
}

@font-face {
  font-family: source-serif-4-fallback;
  size-adjust: 105%;
  src: local('Georgia');
}
